<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>/* Header */
        .header {
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        
            background: linear-gradient(to right, #272729, #101113);
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .header .logo {
            display: flex;
            align-items: center;
            animation: fadeIn 2s ease-in-out;
        }
        
        .header .logo img {
            width: 50px;
            margin-right: 10px;
        }
        .header .logo .txt {
            font-size: 1.5rem;
            font-weight: 600;
            background: linear-gradient(90deg, #0066ff, #00ccff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: fadeIn 1.5s ease-in-out;
        }
        .header .nav a {
            color: #ffffff;
            margin-left: 15px;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        
        .header .nav a:hover {
            color: #64b5f6;
        }
        
        </style>
</head>
<body>

    <header class="header">
        <div class="logo">
            <img src="/esaw/vid-user-logo-defaul/zypherr(1).png" alt="Streamly Logo">
            <span class="txt">Zypher</span>
        </div>
        <nav class="nav">
            <a href="/">Inicio</a>
            <a href="/Zypher/blog">Blog</a>
            <a href="/Zypher/tc#terms-conditions">Términos y Condiciones</a>
            <a href="/Zypher/tc#politica">Política de Privacidad</a>
           
            <a href="/Zypher/support">Ayuda</a>
        </nav>
    </header>
</body>
</html>

