<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/jpg" href="/esaw/logo/logoks.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>

    <link rel="stylesheet" href="/asdf/error/styles.css">
</head>
<body>
    <div class="error-container" id="errorContainer">
        <img src="error.png" alt="Error" class="error-image" id="errorImage">
        <h1 class="error-title">¡Ups, algo salió mal!</h1>
        <p class="error-message">Parece que hay un problema con la página que buscas.</p>
        <p class="funny-quote" id="funnyQuote">"Incluso las sombras tienen sombras."</p>
        <button class="reload-button" onclick="activarAnimacion()">Reintentar</button>
    </div>


    <script src="/asdf2/error/inde.js"></script>
</body>
</html>
